// **************************************
// Placeholders
// **************************************
@use "./variables" as v;
@use "./colors" as c;

// Global Body Tag Styles
%body-properties {
  font-family: v.$font-stack-main;
  line-height: 1.5;
  min-height: 100vh;
}

// Center Grid Content (For Component projects)
%ctr-grid-content {
  display: grid;
  place-items: center;
}

// Global Heading & Paragraph Styles
%text-modules {
  letter-spacing: 1px;
  word-spacing: 0.5px;
}

// Global Image Style
%img-properties {
  display: block;
  max-width: 100%;
  height: auto;
}

// Global Button Styles
%btn-properties {
  outline: none;
  border: none;
  border-radius: v.$hard-curve;
  letter-spacing: 1.1px;
  font-weight: v.$font-weight-normal;
  font-size: 0.9rem;
  text-align: center;
}

// Global Link Styles
%link-properties {
  display: inline-block;
  text-decoration: none;
}

// white text styles
%white-text {
  color: c.$white;
}

/******************************************
REUSEABLE SINGLE STYLES
******************************************/

// ul Style
%ul-list-stle {
  list-style-type: none;
}

// center text style
%ctr-txt {
  text-align: center;
}
