// **************************************
// BASE STYLES
// **************************************

@use "../utilities" as *;

/*-----BASE GLOBAL STYLES------*/
* {
  box-sizing: border-box;
  // background: #000 !important;
  // color: #0f0 !important;
  // outline: solid #f00 1px !important;
}

html {
  font-size: px-to-rems(16px);
}

html,
body,
#root {
  @extend %body-properties;
}

body {
  background-image: url(../../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: top 0px;
  background-size: contain;
  background-color: $color-main;
  @extend %ctr-grid-content;
}

p {
  @extend %text-modules;
  color: $white;
  font-family: $font-stack-secondary;
}

svg:nth-of-type(2) {
  margin: 0 px-to-rems(10px);
}

a {
  @extend %link-properties;
  color: $color-accent;
  font-style: italic;
}
