// **************************************
// BASE STYLES
// **************************************

@use "../utilities" as *;

/*-----BASE GLOBAL STYLES------*/
* {
  box-sizing: border-box;
  // background: #000 !important;
  // color: #0f0 !important;
  // outline: solid #f00 1px !important;
}

html {
  font-size: px-to-rems(16px);
}

html,
body,
#root {
  @extend %body-properties;
}

body {
  background-color: $color-main;
  @extend %ctr-grid-content;
}

p {
  @extend %text-modules;
  color: $color-text-dark;
}

a {
  @extend %link-properties;
}
