// **************************************
// TYPOGRAPHY STYLES
// **************************************
@use "../utilities" as *;

.title__primary,
.content {
  @include mq("lg") {
    text-align: left;
  }
}

//h1 styles
.title__primary {
  @extend %text-modules;
  @extend %ctr-txt;
  padding: 0 0.5rem;
  @include text-prop(
    $size: clamp(1rem, 6vw, 2.6rem),
    $f-weight: $font-weight-bold,
    $color: $color-text-light
  );
  margin-top: px-to-rems(55px);
  @include mq("lg") {
    margin-top: -7rem;
    padding: 0 0;
  }
}

/*----CONTENT STYLES----*/

// p styles
.content {
  @extend %ctr-txt;
  @include text-prop(
    $size: clamp(0.75rem, 7vw, 1rem),
    $f-weight: $font-weight-normal,
    $color: $color-text-light
  );
  margin-top: px-to-rems(25px);
  margin-bottom: px-to-rems(20px);
}
