// **************************************
// TYPOGRAPHY STYLES
// **************************************
@use "../utilities" as *;

.title__primary,
.content {
  text-align: center;
}

//h1 styles
.title__primary {
  @extend %text-modules;
  padding: 0 1rem;
  @include text-prop(
    $size: clamp(1.4rem, 7vw, 2rem),
    $f-weight: $font-weight-bold,
    $color: $color-text-light
  );
}

/*----CONTENT STYLES----*/

// p styles
.content {
  padding: 0 0.3rem;
  @include text-prop(
    $size: clamp(0.79rem, 4vw, 1rem),
    $f-weight: $font-weight-normal,
    $color: $color-text-light
  );
}
