// **************************************
// IMAGE STYLES
// **************************************
@use "../utilities" as *;

.img {
  @extend %img-properties;

  &__logo {
    max-width: 140px;
    padding-top: px-to-rems(30px);
    @include mq("lg") {
      max-width: 240px;
    }
  }

  &__hero-container {
    width: 100%;
  }

  &__hero {
    display: block;
    max-width: 500px;
    margin: 0 auto;
    width: inherit;
    @include mq("lg") {
      max-width: 900px;
    }
  }

  &__social-icons {
    fill: $white;
    padding: px-to-rems(5px);
    width: px-to-rems(30px);
    height: px-to-rems(30px);
    border-radius: 50%;
    border: 1px solid $white;
  }
}
