// **************************************
// IMAGE STYLES
// **************************************
@use "../utilities" as *;

.img {
  @extend %img-properties;

  &__logo {
    max-width: 100px;
  }

  &__hero {
    display: block;
    max-width: 275px;
  }

  &__social-icons {
    fill: $white;
    padding: px-to-rems(5px);
    width: px-to-rems(30px);
    height: px-to-rems(30px);
    border-radius: 50%;
    border: 1px solid $white;
  }
}
