// **************************************
// LAYOUT STYLES
// **************************************
@use "../utilities" as *;

/*------BASE LAYOUT STYLES-----------*/
#root {
  max-width: calc(100% - 3.8rem);
  @include mq("lg") {
    max-width: $max-width;
  }
}

/*------FLEXBOX LAYOUT STYLES-----------*/

.flex__container {
  @include flex_me($dir: column, $wrap: wrap);

  &--community {
    @extend .flex__container;
    align-items: center;
    @include mq("lg") {
      align-items: flex-start;
    }
  }

  &--social {
    @extend .flex__container;
    flex-direction: row;
    justify-content: center;
    margin-bottom: px-to-rems(15px);
    @include mq("lg") {
      margin-bottom: px-to-rems(5px);
      align-self: flex-end;
    }
  }
}

/*------GRID LAYOUT STYLES-----------*/

.grid__container {
  @include grid_layout_container($grid-temp-col: 100%, $grid-temp-row: auto);
}

//Main Content Grid Layout
.main__grid--wrapper {
  @include mq("lg") {
    display: grid;
    width: 100%;
    place-items: center;
    grid-template-columns: 59% 41%;
    grid-template-areas: "hero-img community-info";
    margin-top: px-to-rems(55px);
  }
}

.hero-img {
  grid-area: hero-img;
}

.community-info {
  grid-area: community-info;
  @include mq("lg") {
    padding: 0 1.5rem;
  }
}
