// **************************************
// LAYOUT STYLES
// **************************************
@use "../utilities" as *;

/*------BASE LAYOUT STYLES-----------*/
#root {
  max-width: calc(100% - 3rem);
  @include mq("md") {
    max-width: $max-width;
  }
}

/*------FLEXBOX LAYOUT STYLES-----------*/

.flex__container {
  @include flex_me($dir: column, $wrap: wrap);

  &--community {
    @extend .flex__container;
    align-items: center;
  }

  &--social {
    @extend .flex__container;
    flex-direction: row;
    justify-content: center;
    margin-bottom: px-to-rems(15px);
  }
}

/*------GRID LAYOUT STYLES-----------*/

.grid__container {
  @include grid_layout_container($grid-temp-col: 100%, $grid-temp-row: auto);
}

//Main Content Grid Layout
.main__grid--wrapper {
  @include mq("md") {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
